.photo__gallery {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  height: 100vh;
  overflow: hidden;
  background: #000;
  cursor: pointer;
}

.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.photo img {
  width: 300px;
  margin: 2px;
  opacity: .8;
  -webkit-transition: 2s;
  transition: 2s;
  cursor: pointer;
}

.photo-cover:hover {
  width: 100%;
  height: 100%;
  opacity: 8;
  cursor: pointer;
}

.photo-cover {
  position: absolute;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 100px;
  padding: 6px;
  border-radius: 14px;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: 2s;
  transition: 2s;
  opacity: .5;
  cursor: pointer;
}

.photo img:hover ~ .photo-cover {
  opacity: .8;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.photo-group-link i {
  font-size: 1.5em;
  margin-bottom: 10px;
  cursor: pointer;
}

.photo-group-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.photo-group-link span {
  width: 150px;
}

body, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

img {
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

body {
  overflow: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background: url("../img/banner-header.jpg");
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.header__container-bg {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.container-bg {
  background: #000;
  width: 100%;
  height: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 290px;
  padding-top: 20px;
}

.header__container--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  width: 600px;
}

.header__container--content h2 {
  font-size: 34px;
  font-weight: 300;
  font-style: italic;
}

.header__container--image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10px;
  width: 900px;
  background: #fff;
  border-radius: 25px;
}

.header__container--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #fff;
}

.header__container--logo img {
  width: 150px;
  -webkit-transition: 2s;
  transition: 2s;
}

.header__container--logo:hover img {
  width: 200px;
}

nav {
  position: absolute;
  top: 450px;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.nav__container ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.nav__container a:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  color: #000;
  background: #fff;
  padding: 6px 20px;
  border-radius: 25px;
}

.nav__container a:hover li {
  padding-bottom: 4px;
  border-bottom: 2px solid #c6c6c6;
}

.nav__container a:hover span {
  width: 10px;
  border-bottom: 2px solid #000;
}

.section--one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section--one__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 40px;
  max-width: 550px;
}

.section--one__content h2 {
  font-size: 34px;
  font-weight: 400;
}

.button__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 50px;
  border-radius: 35px;
  border: 1px solid #c6c6c6;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 18px 34px;
  border-radius: 35px;
  color: #393939;
  text-decoration: none;
}

.section--one__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
  overflow: hidden;
}

.section--one__image img {
  height: 100%;
  opacity: .5;
}

.section--two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border: 1px solid #c6c6c6;
}

.section--two__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 40px;
}

.section--two__content h2 {
  font-size: 34px;
  font-weight: 400;
}

.section--two__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
  overflow: hidden;
}

.section--two__image img {
  height: 100%;
  opacity: .5;
}

.section--three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section--three__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 40px;
}

.section--three__content h2 {
  font-size: 34px;
  font-weight: 400;
}

.section--three__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
  overflow: hidden;
}

.section--three__image img {
  height: 100%;
  opacity: .5;
}
/*# sourceMappingURL=styles.css.map */